{% extends 'blogs/base.html' %}

{% block page_header %}
<h3>{{blogpost|linebreaks}}</h3>
<p>A blog post by: {{ blogpost.owner }}<br>
    {{ blogpost.date_added|date:'M d, Y H:i' }}</p>
{% endblock page_header %}

{% block content %}

<div class="card mb-3">
    <small>
        <h4 class="card-header">

            {{ blogpost.text|linebreaks }}

            <a href="{% url 'blogs:edit_blogpost' blogpost.id %}">Edit blog post (if it is yours)</a>
    </small>
    </h4>
</div>
{% endblock content %}